html {
  background-color: black;
}

.header {
  text-align: center;
  /* background-color: brown; */
  color: orangered;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.container-nav-inform {
  display: flex;
  /* background-color: aqua; */
}

.container-nav-inform p {
  width: 50%;
  text-align: center;
  padding-left: 270px;
  font-size: 25px;
  font-weight: 400;
  color: red;
}
h1 {
  margin: 0;
  padding: 50px 0;
}
.navigation ul li {
  margin-top: 10px;
}
